@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* TODO
  폰트 여러가지 적용해보기
*/
* {
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  width: 360px;
}

.App {
  width: 100%;
  padding: 40px 30px;
}