@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  font-family: 'SCoreDream', sans-serif;
  font-family: 'SCoreDream';
  box-sizing: border-box;
  font-weight: 700;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  width: 100%;
}

#root {
  width: 360px;
}

.App {
  width: 100%;
  padding: 40px 30px;
}
