@font-face {
  font-family: 'SamliphopangcheBasic';
  src: url("./assets/fonts/SDSamliphopangcheTTFBasic.ttf");
}

@font-face {
  font-family: 'SamliphopangcheOutline';
  src: url("./assets/fonts/SDSamliphopangcheTTFOutline.ttf");
}

* {
  font-family: SamliphopangcheOutline;
}